html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

#chart {
  height: calc(100% - 50px);
}

button {
  width: calc(100% - 20px);
  background: steelblue;
  color: white;
  font-size: 15pt;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
